@import 'tailwindcss';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
	name: 'nothing';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(20.5% 0 0);
	--color-base-200: oklch(26.9% 0 0);
	--color-base-300: oklch(37.1% 0 0);
	--color-base-content: oklch(97% 0 0);
	--color-primary: oklch(20.5% 0 0);
	--color-primary-content: oklch(97% 0 0);
	--color-secondary: oklch(97% 0 0);
	--color-secondary-content: oklch(20.5% 0 0);
	--color-accent: oklch(38.1% 0.176 304.987);
	--color-accent-content: oklch(97% 0 0);
	--color-neutral: oklch(55.6% 0 0);
	--color-neutral-content: oklch(97% 0 0);
	--color-info: oklch(37.9% 0.146 265.522);
	--color-info-content: oklch(97% 0 0);
	--color-success: oklch(39.3% 0.095 152.535);
	--color-success-content: oklch(97% 0 0);
	--color-warning: oklch(42.1% 0.095 57.708);
	--color-warning-content: oklch(97% 0 0);
	--color-error: oklch(39.6% 0.141 25.723);
	--color-error-content: oklch(97% 0 0);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar-none::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-none {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
